@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 6px #fff,
      0 0 90px rgb(255, 0, 119), 0 0 100px rgb(255, 0, 119),
      0 0 150px rgb(255, 0, 119);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

#myname {
  animation: flicker 1.5s infinite alternate;
}

#skills {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(106, 0, 255), 0 0 82px rgb(106, 0, 255),
    0 0 92px rgb(106, 0, 255), 0 0 102px rgb(106, 0, 255),
    0 0 151px rgb(106, 0, 255);
}

#projects {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #1500ff,
    0 0 82px #1500ff, 0 0 92px #1500ff, 0 0 102px #1500ff, 0 0 151px #1500ff;
}

#contact {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff,
    0 0 82px #fff, 0 0 92px #fff, 0 0 102px #fff, 0 0 151px #fff;
}
