@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes animatedTextGradient {
  to {
    background-position: 200% center;
  }
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 6px #fff,
      0 0 90px rgb(255, 0, 119), 0 0 100px rgb(255, 0, 119),
      0 0 150px rgb(255, 0, 119);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background: #000000;
}

#myname {
  animation: flicker 1.5s infinite alternate;
}

.accent-gradient {
  font-size: clamp(5rem, 5vw, 10vh);
  background: linear-gradient(
    to right,
    #7953cd 20%,
    #00affa 30%,
    #0190cd 70%,
    #764ada 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

.bright-gradient {
  /* background: linear-gradient(
    45deg,
    hsl(0deg 0% 100%) 0%,
    hsl(300deg 100% 100%) 8%,
    hsl(300deg 100% 100%) 16%,
    hsl(0deg 0% 100%) 24%,
    hsl(33deg 100% 87%) 32%,
    hsl(33deg 100% 73%) 40%,
    hsl(35deg 97% 58%) 47%,
    hsl(33deg 60% 57%) 55%,
    hsl(31deg 28% 53%) 63%,
    hsl(0deg 0% 47%) 71%,
    hsl(344deg 0% 51%) 81%,
    hsl(344deg 0% 54%) 90%,
    hsl(0deg 0% 57%) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate; */
}
