/* HTML: <div class="loader"></div> */
.loader {
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  position: fixed;
  z-index: 100;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #fff;
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
  100% {
    inset: 0;
  }
}
